<template>
    <!--EDUCATION-->
    <section id="education" class="section">
        <div class="container">
            <!-- SECTION TITLE -->
            <div class="section-title">
                <h4 class="text-uppercase text-center"><i class="title-icon la-lg las la-graduation-cap"></i>Education</h4>
            </div>

            <div id="timeline-education">
                <TimelineBlock v-for="education in educations"
                               :moreHandler="setModalData"
                               :key="JSON.stringify(education)"
                               :education="education"
                />
            </div>
        </div>
    </section>
</template>

<script>
    import TimelineBlock from "./TimelineBlock";
    import content from "../../assets/education/content";
    export default {
        name: "Education",
        props:{
            setModalData: Function
        },
        components:{
            TimelineBlock
        },
        data: function () {
            return content
        }
    }
</script>

<style scoped>

</style>
