<template>
    <!-- TIMELINE BLOCK-->
    <div class="timeline-block">
        <!-- DOT -->
        <div class="timeline-dot"><i class="fa fa-graduation-cap"></i></div>
        <!-- TIMELINE CONTENT -->
        <div class="card timeline-content">
            <div class="card-content">
                <!-- TIMELINE TITLE -->
                <h6 class="timeline-title">{{ education.educationLevel}}</h6>
                <!-- TIMELINE TITLE INFO -->
                <div class="timeline-info">
                    <h6>
                        <small>{{ education.institutionName }}</small>
                    </h6>
                    <h6>
                        <small>{{ education.studyPeriod }}</small>
                    </h6>
                </div>
                <!-- TIMELINE PARAGRAPH -->
                <div style="padding-top: 10px">
                    <span class="headlight">{{ education.headlight}}:</span>
                    <span> {{ education.summary }}</span>
                </div>

                <!-- BUTTON TRIGGER MODAL -->
                <div class="text-right">
                    <a href="#" class="modal-dot" data-toggle="modal" data-target="#educationModal">
                        <i class="las la la-ellipsis-h" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TimelineBlock",
        props:{
            education: Object,
            moreHandler: Function,
        },
        components:{

        }
    }
</script>

<style scoped>
    .headlight{
        display: block;
        padding-bottom: 3px !important;
        font-weight: bold;
    }
</style>
