//===========================================================================//
// PORTFOLIO SECTION
//===========================================================================//
@import "variables";
@import "mediamixins";
/*portfolios section*/
#portfolios {
  #portfolios-card {
    /*portfolio card*/
    overflow: hidden;
    .nav-tabs {
      /*portfolios tabs*/
      border-bottom: 0;
      text-align: center;
      margin-bottom: 10px;
      li {
        /*option list*/
        float: none;
        margin: 0;

        position: relative;
        display: inline-block;
        a {
          /*links for options*/
          margin-right: 0;
          border: 0;
          color: #555555;;
          &:hover {
          }
        }
      }
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      /*tabs style bootstrap*/
      border: 0;
      border-bottom: 5px solid $accent-color;
      background-color: transparent;
      /* outline: 0;*/
    }

    .tab-content {
      /*portfolios content*/
      margin: 0 10px;

      %extend_1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      %extend_2 {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      @media screen and (max-width: 747px) {
        .big {
          /*big tile width*/
          // width: 66.55%;
        }
      }
      @media (min-width: 992px) {
        .big {
          width: 66.6%;
        }
      }
      .card{
        background: $port_overlay;
      }

      .card:hover{
        background: $accent-color;
      }
    }
  }
}

