<template>
    <!--INTEREST-->
    <section id="interest" class="section">
        <div class="container">
            <!-- SECTION TITLE -->
            <div class="section-title">
                <h4 class="text-uppercase text-center"><i class="title-icon la-lg las la-thumbs-up"></i>{{title}}</h4>
            </div>

            <div id="interest-card" class="card">
                <!--INTEREST TEXT-->
                <div class="card-content">
                    <p>{{ intro }}</p>
                </div>

                <!--INTEREST ICONS-->
                <div class="row no-gutters">
                    <Interest v-for="(interest, index) in interests"
                              :key="JSON.stringify(interest)"
                              :index="index"
                              :interest="interest"/>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import Interest from "./Interest";
    import content from "../../assets/interest/content";
    export default {
        name: "Interests",
        components:{
            Interest
        },
        data: function () {
            return content
        }
    }
</script>

<style scoped>

</style>
