<template>
    <!--INTEREST ICON-->
    <div class="col-md-2 col-sm-4 col-xs-6 box text-center">
        <div :class="index % 2 === 0 ? 'interest-icon-even' : 'interest-icon'">
            <i :class="interest.icon"></i>
            <span style="padding: 10px 0px">{{interest.name}}</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Interest",
        props: {
            interest: Object,
            index: Number
        }
    }
</script>

<style scoped>

</style>
