<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="author" content="Brian Paidamoyo Sithole">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <title>iambriansith | Brian Paidamoyo Sithole</title>
  <link rel="icon" href="images/fav-icon.png">

  <!--APPLE TOUCH ICON-->
  <link rel="apple-touch-icon" href="images/fav-icon.png">

  <!-- GOOGLE FONT -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

  <!-- MATERIAL ICON FONT -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- FONT AWESOME -->
  <link href="./stylesheets/font-awesome.min.css" rel="stylesheet">

  <!-- LINE AWESOME -->
  <link rel="stylesheet" href="./fonts/line-awesome-1.3.0/1.3.0/css/line-awesome.min.css">

  <!-- ANIMATION -->
  <link href="./stylesheets/animate.min.css" rel="stylesheet">

  <!-- MATERIALIZE -->
  <link href="./stylesheets/materialize.css" rel="stylesheet">

  <!-- BOOTSTRAP -->
  <link href="./stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- CUSTOM STYLE -->
  <link href="./stylesheets/style.css" id="switch_style" rel="stylesheet">
</head>

  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>

<script src="./javascript/jquery-2.1.3.min.js"></script>
<script src="./javascript/bootstrap.min.js"></script>
<script src="./javascript/materialize.min.js"></script>
<script src="./javascript/retina.min.js"></script>
<script src="./javascript/scrollreveal.min.js"></script>
<script src="./javascript/jquery.touchSwipe.min.js"></script>
<script src="./javascript/custom.js"></script>
</html>
