<template>
    <div class="skillbar" :data-percent="`${skill.confidence}`">
        <div class="skillbar-title"><span>{{ skill.name }}</span></div>
        <div class="skillbar-bar"></div>
        <!-- <div class="skill-bar-percent">{{ skill.confidence }}</div> -->
    </div>
</template>

<script>
    export default {
        name: "SkillBar",
        props:{
            skill: Object
        }
    }
</script>

<style scoped>

</style>
