<template>
    <!--SKILLS-->
    <section id="skills" class="section">
        <div class="container">
            <!-- SECTION TITLE -->
            <div class="section-title">
                <h4 class="text-uppercase text-center"><i class="title-icon la-lg lab la-buffer"></i>Skills</h4>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="skills-card" class="card">
                        <div class="card-content">
                            <div class="row">
                                <SkillSet v-for="set in skillSet"
                                          :key="JSON.stringify(set)"
                                          :skillSet="set"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import SkillSet from "./SkillSet";
    import content from "../../assets/skills/content";
    export default {
        name: "Skills",
        components: {
            SkillSet
        },
        data: function () {
            return content
        }
    }
</script>

<style scoped>

</style>
