<template>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <!-- FIRST SKILL SECTION -->
        <div class="skills-title">
            <h6 class="text-center">{{ skillSet.title }}</h6>
        </div>
        <SkillBar v-for="skill in skillSet.skills"
                  :key="JSON.stringify(skill)"
                  :skill="skill" />
    </div>
</template>

<script>
    import SkillBar from "./SkillBar";

    export default {
        name: "SkillSet",
        components:{
            SkillBar
        },
        props:{
            skillSet: Object,
        }
    }
</script>

<style scoped>

</style>
