<template>
    <!--ABOUT-->
    <div id="about" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- DETAILS -->
                    <div id="about-card" class="card">
                        <div class="card-content">
                            <!-- ABOUT PARAGRAPH -->
                            <p> {{intro}} </p>
                        </div>

                        <!-- BUTTONS -->
                        <div id="about-btn" class="card-action">
                            <div class="about-btn">
                                <!-- DOWNLOAD CV BUTTON -->
                                <!--<a href="#" class="btn waves-effect">Download CV</a>-->
                                <!-- CONTACT BUTTON -->
                                <a href="#contact" class="btn waves-effect">Contact Me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import content from "../../assets/about/content";

    export default {
        name: "About",
        data: function () {
            return content
        }
    }
</script>

<style scoped>

</style>
