<template>
    <li :class="`${index === 0 ? 'active' : null } waves-effect list-shuffle`">
        <a :class="`text-uppercase ${index===0 ? 'active' : 'cate'}`" :href="`#${target}`" data-toggle="tab">{{ title }}</a>
    </li>
</template>

<script>
    export default {
        name: "NavTab",
        props: {
            index: Number,
            target: String,
            title: String,
        }
    }
</script>

<style scoped>

</style>
