<template>
    <!--PORTFOLIO-->
    <section id="portfolios" class="section">
        <div class="container">
            <div class="section-title">
                <h4 class="text-uppercase text-center"><i class="title-icon la-lg las la-briefcase"></i>Portfolio</h4>
            </div>
            <div id="portfolios-card" class="row">
                <ul class="nav nav-tabs">
                    <NavTab v-for="(tab, index) in tabs"
                            :key="index"
                            :index="index"
                            :target="tab.target"
                            :title="tab.title"
                    />
                </ul>

                <div class="tab-content">
                    <div v-for="(tab, index) in tabs"
                         :key="index"
                         :id="tab.target"
                         :class="`tab-pane fade in ${index===0 ? 'active':''}`">
                        <h3>{{tab.title}}</h3>
                        <div class="row" v-if="tab.showcaseItems.length">
                            <ShowcaseItem v-for="(item, index) in tab.showcaseItems"
                                          :key="index"
                                          :showcaseItem="item"/>
                        </div>
                        <div v-else class="text-center">
                            <i class="las la-5x la-cookie"></i>
                            <h3>Still in the making</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import NavTab from "./NavTab";
    import content from "../../assets/portfolio/content";
    import ShowcaseItem from "./ShowcaseItem";
    export default {
        name: "Portfolios",
        components: { ShowcaseItem, NavTab },
        mounted() {

        },
        data: function () {
            return content
        }
    }
</script>
