<template>
    <!--CATEGORY SMALL BOX-->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-content white-text text-center">
                <span class="card-title">{{showcaseItem.title}}</span>
                <span class="card-subtitle">{{showcaseItem.type}}</span>
                <div class="stack-list text-left">
                    <p>Technology Stack</p>
                    <ul>
                        <li v-for="(tech, index) in showcaseItem.stack.split(',')" :key="index">
                            {{ tech }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-action text-right">
                <i class="las la la-ellipsis-h" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ShowcaseItem",
        props:{
            showcaseItem: Object
        }
    }
</script>

<style scoped>
    .card{

    }
    .card-content {
        padding: 10px !important;
        height: 200px;
    }

    .card-action {
        padding: 10px !important;
        color: white;
    }

    .card-title{
        text-transform: uppercase;
        font-size: large;
        margin-bottom: 0px !important;
        font-weight: 500;
    }
    .card-subtitle{
        text-align: center;
        color: white !important;
    }

    .stack-list p {
        padding: 10px 0px;
        text-align: left !important;
        text-transform: uppercase;
    }
</style>
