<template>
    <!--CONTACT-->
    <section id="contact" class="section">
        <div class="container">
            <!-- SECTION TITLE -->
            <div class="section-title">
                <h4 class="text-uppercase text-center"><i class="title-icon las la-envelope"></i>Contact</h4>
            </div>
            <div class="row text-center">
                <div id="contact-card" class="col-md-12 col-sm-12 col-xs-12">
                    <!-- CONTACT FORM -->
                    <div class="card">
                        <div class="card-content">
                            <!-- NAME -->
                            <div class="input-field">
                                <input id="first_name" type="text" class="validate" v-model="fullName" required>
                                <label for="first_name">Name</label>
                            </div>
                            <!--SUBJECT-->
                            <div class="input-field">
                                <input id="sub" type="text" class="validate" v-model="subject">
                                <label for="sub">Subject</label>
                            </div>
                            <!--EMAIL-->
                            <div class="input-field">
                                <input id="email" type="email" class="validate" v-model="replyMail" required>
                                <label for="email">Email</label>
                            </div>
                            <!--MESSAGE-->
                            <div class="input-field">
                                <textarea id="textarea1" class="materialize-textarea" v-model="message" required ></textarea>
                                <label for="textarea1">Message</label>
                            </div>
                            <!-- SEND BUTTON -->
                            <div class="contact-send">
                                <button :disabled="!isValidForm || disableSubmitButton"
                                        type="submit" value="Submit" class="btn waves-effect" @click="sendMail">
                                    {{ btnTxt }}
                                </button>
                            </div>
                        </div>
                        <!--FORM LOADER-->
                        <div id="form-loader" class="progress is-hidden">
                            <div class="indeterminate"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import axios from 'axios';
    import * as Swal from "sweetalert2";

    export default {
        name: "Contact",
        data: function () {
            return {
                fullName: null,
                replyMail: null,
                subject: null,
                message: null,
                disableSubmitButton: false,
                btnTxt: 'Send'
            }
        },

        computed: {
            isValidForm: function () {
                let re = /\S+@\S+\.\S+/
                let isEmailValid = false;
                if (this.replyMail)
                    isEmailValid = re.test(this.replyMail.toLowerCase())

                return isEmailValid && this.fullName && this.subject && this.message;
            }
        },

        methods:{
            sendMail: function () {
                this.disableSubmitButton = true
                this.btnTxt = 'Sending...'
                axios.post('https://iambriansith.herokuapp.com/api/mails', {
                    fullName: this.fullName,
                    replyMail: this.replyMail,
                    subject: this.subject,
                    message: this.message,
                })
                    .then(res => {
                        console.log(res.status)
                        Swal.fire({
                            icon: 'success',
                            title: 'Sent',
                            text: 'Message sent! Thanks for making contact, I will get back to you.',
                        })
                        this.fullName = null;
                        this.replyMail=null;
                        this.subject=null;
                        this.message=null;
                        this.disableSubmitButton = false
                        this.btnTxt = 'Send'
                    })
                    .catch(err => {
                        console.log(err.status)
                        this.disableSubmitButton = false
                        this.btnTxt = 'Send'
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong! Try again',
                        })
                    })
            }
        }
    }
</script>

<style scoped>

</style>
