<template>
    <!--Header Component-->
    <header id="home">

        <div class="header-background section">
            <div id="v-card-holder">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- V-CARD -->
                            <div id="v-card" class="card">

                                <!-- PROFILE PICTURE -->
                                <div id="profile" class="right">
                                    <img alt="profile-image" class="img-responsive" :src="credentials.profileImage">
                                    <div class="slant"></div>
                                </div>

                                <div class="card-content">

                                    <!-- NAME & STATUS -->
                                    <div class="info-headings">
                                        <h4 class="text-uppercase left">{{credentials.fullName}}</h4>
                                        <h6 class="text-capitalize left">{{credentials.role}}</h6>
                                    </div>

                                    <!-- CONTACT INFO -->
                                    <div class="infos">
                                        <ul class="profile-list">
                                            <li v-for="(contact, index) in contacts" :key="index" class="clearfix">
                                                <span class="title"><i :class="contact.icon" aria-hidden="true"></i></span>
                                                <span class="content">{{contact.value}}</span>
                                            </li>
                                        </ul>
                                    </div>

                                    <!--LINKS-->
                                    <div class="links">
                                        <span v-for="(profile, index) in profiles"
                                              :key="index">
                                            <a v-if="profile.url.includes('http')"
                                                :href="profile.url.includes('http') ? profile.url : ''"
                                                :target="profile.url.includes('http') ? '_blank' : ''"
                                                :class="`social btn-floating ${profile.color}`">
                                                <i style="font-size: x-large" :class="`${profile.icon}`"></i>
                                            </a>
                                            <a v-else
                                                :class="`social btn-floating ${profile.color}`">
                                                <i style="font-size: x-large" :class="`${profile.icon}`"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
    import content from "../../assets/header/content";

    export default {
        name: "Header",
        data: function () {
            return content
        }
    }
</script>
