<template>
    <div>
        <Loading />

        <Header />

        <About />

        <Skills />

        <Experience :setModalData="setExperienceData"/>

        <Education :setModalData="setEducationData"/>

        <Portfolios/>

        <Interests/>

        <!--<Testimonials/>-->

        <Contact />

        <Footer />

        <ScrollTop />
    </div>
</template>

<script>
    import Loading from './loading/Loading';
    import Header from './header/Header';
    import About from "./about/About";
    import Education from "./education/Education";
    import Skills from "./skills/Skills";
    import Experience from "./experience/Experience";
    import Portfolios from "./portfolios/Portfolios";
    import Interests from "./interests/Interests";
    //import Testimonials from "./testimonials/Testimonials";
    import Contact from "./contact/Contact";
    import Footer from "./footer/Footer";
    import ScrollTop from "./utilities/ScrollTop";

    export default {
        name: 'MainPage',
        components: {
            ScrollTop,
            Footer,
            Contact,
            //Testimonials,
            Interests,
            Portfolios,
            Experience,
            Skills,
            Education,
            About,
            Loading,
            Header
        },
        props: {

        },

        data: function () {
            return {
                education: null,
                experience: null,
            }
        },

        methods:{
            setEducationData: function (data) {
                this.education = data;

            },

            setExperienceData: function (data) {
                this.experience = data;
            },
        }
    }
</script>
