<template>
  <div id="loading">
    <div id="loading-center">
      <div id="loading-center-absolute">
        <div class="box-holder animated bounceInDown">
          <span class="load-box"><span class="box-inner"></span></span>
        </div>
        <!-- NAME & STATUS -->
        <div class="text-holder text-center">
          <h2>BRIAN SITHOLE</h2>
          <h6>Software Developer</h6>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Loading',
    props: { }
  }
</script>
