<template>
    <!--FOOTER-->

    <footer>
        <div class="container">
            <!--FOOTER DETAILS-->
            <p class="text-center">
                2020 © <a href="#"> iambriansith </a>
            </p>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>

</style>
