<template>
        <li data-target="#myCarousel" :data-slide-to="index.toString()" :class="index === 0 ? 'active' : ''"></li>
</template>

<script>
    export default {
        name: "CarouselIndicator",
        props: {
            index: Number
        }
    }
</script>

<style scoped>

</style>
