<template>
    <div :class="`item ${index===0 ? 'active' : null}`">
        <div class="col-md-12">
            <!--CLIENT IMAGE-->
            <div class="ben center-block">
                <img alt="client-image" class="center-block" :src="testimony.image">
            </div>
            <!--CLIENT QUOTE-->
            <blockquote>
                {{ testimony.quote }}
                <cite>{{ testimony.credentials }}</cite>
            </blockquote>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Testimonial",
        props:{
            index: Number,
            testimony: Object
        }
    }
</script>

<style scoped>

</style>
