<template>
    <!--TESTIMONIALS AND CLIENTS-->
    <section id="testimonials" class="section">
        <div class="container">
            <!-- SECTION TITLE -->
            <div class="section-title">
                <h4 class="text-uppercase text-center"><i class="title-icon la-lg las la-quote-left"></i>Testimonials</h4>
            </div>
            <div id="testimonials-card" class="row card">
                <div class="col-md-12 col-xs-12">
                    <!-- CLIENTS SLIDER-->
                    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                        <!-- INDICATORS -->
                        <ol class="carousel-indicators">
                            <CarouselIndicator v-for="(testimonial, index) in testimonials"
                                               :key="index"
                                               :index="index"/>
                        </ol>
                        <!-- WRAPPER FOR SLIDES -->
                        <div class="carousel-inner" role="listbox">
                            <Testimonial v-for="(testimonial, index) in testimonials"
                                         :index="index"
                                         :key="JSON.stringify(testimonial)"
                                         :testimony="testimonial"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import CarouselIndicator from "./CarouselIndicator";
    import Testimonial from "./Testimonial";
    import content from "../../assets/testimonials/content";
    export default {
        name: "Testimonials",
        components: {Testimonial, CarouselIndicator},
        data: function () {
            return content
        }
    }
</script>

<style scoped>

</style>
