<template>
    <!--EXPERIENCE-->
    <section id="experience" class="section">
        <div class="container">
            <!-- SECTION TITLE -->
            <div class="section-title">
                <h4 class="text-uppercase text-center"><i class="title-icon la-lg la la-folder"></i>Experience</h4>
            </div>

            <div id="timeline-experience">
                <TimelineBlock v-for="experience in experiences"
                               :moreHandler="setModalData"
                               :key="JSON.stringify(experience)"
                               :experience="experience"/>
            </div>
        </div>
    </section>
</template>

<script>
    import TimelineBlock from "./TimelineBlock";
    import content from "../../assets/experience/content";
    export default {
        name: "Experience",
        components: {TimelineBlock},
        props:{
            setModalData: Function
        },
        data: function () {
            return content
        }
    }
</script>

<style scoped>

</style>
