<template>
    <!--MODAL ONE-->
    <div class="modal fade" id="experienceModal" tabindex="-1" role="dialog" aria-labelledby="experienceModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" v-if="experience">
                &lt;!&ndash;MODAL HEADER&ndash;&gt;
                <div class="modal-header  text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="experienceModalLabel">{{ experience.jobTitle }}</h4>
                    <h6>
                        <small>{{ experience.workPeriod }}</small>
                    </h6>
                </div>
                &lt;!&ndash;MODAL BODY&ndash;&gt;
                <div class="modal-body">
                    <p> {{ experience.body.description.text}} </p>
                </div>
                &lt;!&ndash;MODAL FOOTER&ndash;&gt;
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ExperienceModal",
        props:{
            experience: Object
        }
    }
</script>

<style scoped>

</style>
