<template>
    <!-- TIMELINE BLOCK-->
    <div class="timeline-block">
        <!-- DOT -->
        <div class="timeline-dot"><i class="fa fa-code"></i></div>
        <!-- TIMELINE CONTENT -->
        <div class="card timeline-content">
            <div class="card-content">
                <!-- TIMELINE TITLE -->
                <h6 class="timeline-title">{{experience.jobTitle}}</h6>
                <!-- TIMELINE TITLE INFO -->
                <div class="timeline-info">
                    <h6>
                        <small>{{experience.companyName}}</small>
                    </h6>
                    <h6>
                        <small>{{experience.workPeriod}}</small>
                    </h6>
                </div>
                <!-- TIMELINE PARAGRAPH -->
                <p>{{ experience.summary}}</p>
                <!-- BUTTON TRIGGER MODAL -->
                <div class="text-right">
                    <a href="#" class="modal-dot" data-toggle="modal" data-target="#experienceModal"
                       @click="moreHandler(experience)">
                        <i class="las la la-ellipsis-h" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TimelineBlock",
        props:{
            moreHandler: Function,
            experience: Object,
        },
        components:{
        }
    }
</script>

<style scoped>

</style>
