<template>
    <!--SCROLL TO TOP-->
    <div id="scroll-top">
        <div id="scrollup"><i class="fa fa-angle-up"></i></div>
    </div>
</template>

<script>
    export default {
        name: "ScrollTop"
    }
</script>

<style scoped>

</style>
